.hero-bg {
  position: absolute;
  height: 100vh;
  right: 0;
  top: 0;
  z-index: -1;
}

section {
  width: 100%;

}

.hero-section {
  display: flex;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.section-container {
  max-width: 1220px;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;
  align-items: center;
  padding: 80px 110px;
}

.hero-section .section-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.section-container img {
  width: min-content;
  height: min-content;
}

.hero-body {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero-body p {
  font-size: 20px;
}






.categories-section {
  display: flex;
}

.category-header {
  display: flex;
  align-items: center;
  gap: 64px;
}

.image-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: var(--green);
  display: flex;
  place-content: center;
}

.categories-section>.section-container {
  flex-direction: row;
  gap: 80px;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: var(--grey);
  padding: 40px;
}

.category > p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.category > a {
  display: flex;
  gap: 28px;
  align-items: center;
}