.hero-bg {
  position: absolute;
  height: 100vh;
  right: 0;
  top: 0;
  z-index: -1;
}

section {
  width: 100%;
}

.hero-section {
  display: flex;
  align-items: center;
  height: 100vh;
}

.section-container {
  max-width: 1220px;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;
  padding: 80px 110px;
}

.hero-section .section-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.section-container img {
  width: min-content;
  height: min-content;
}

.hero-body {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero-body h4 {
  font-weight: 400;
}

.categories-section {
  display: flex;
}

.category-header {
  display: flex;
  align-items: center;
  gap: 64px;
}

.image-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: var(--green);
  display: flex;
  place-content: center;
}

.categories-section>.section-container {
  flex-direction: row;
  gap: 80px;
  padding-bottom: 0;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: var(--grey);
  padding: 40px;
}

.category>a {
  display: flex;
  gap: 28px;
  align-items: center;
}

.work-item-icon {
  background: var(--green);
  width: 80px;
  aspect-ratio: 1 / 1;
  display: grid;
  place-content: center;
}

.work-section .section-container {
  gap: 32px;
}

.work-items {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.work-item {
  width: 100%;
  padding: 42px 0;
  position: relative;
}

.work-item>p {
  margin-top: 32px;
}

.work-item-number {
  font-size: 15rem;
  position: absolute;
  z-index: -1;
  color: #eee;
  top: 50%;
  right: 0;
  line-height: 1;
  transform: translateY(-50%);
}

.specs-container {
  display: flex;
  gap: 42px;
}

.live-example .section-container {
  width: 100%;
  max-width: none;
}

.live-example__body {
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.live-example__description {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.specs-item {
  padding: 20px 50px;
  border: 1px #b9b9b9 solid;
  border-radius: 3px;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.specs-item__label {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  background-color: #F2F2F2;
  padding: 0 5px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.live-example__image {
  position: relative;
}

.live-example__image--before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(1.5);
}