.header-container {
  position: fixed;
  width: 100vw;
  z-index:10;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1220px;
  margin: auto;
  margin-top: 50px;

}

.nav-menu {
  display: flex;
  gap: 35px;
}
.nav-link {
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
  transition: opacity 100ms ease;
  user-select: none;
}

.nav-link:hover {
  opacity: .6;
}

.nav-link:active {
  opacity: .3;
}

.nav-link.active {
  padding-bottom: 5px;
  border-bottom: 2px white solid;
  pointer-events: none;
}

.logo {
  width: min-content;
}
.hero-bg {
  position:absolute;
  height: 100vh;
  right: 0;
}